@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?2j8hvm');
  src:  url('../fonts/icomoon.eot?2j8hvm#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?2j8hvm') format('truetype'),
    url('../fonts/icomoon.woff?2j8hvm') format('woff'),
    url('../fonts/icomoon.svg?2j8hvm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--tiktok:before {
  content: "\e900";
  color: var(--white);
}
.icon--phone:before {
  content: "\e942";
  color: var(--white);
}
.icon--facebook:before {
  content: "\ea90";
  color: var(--white);
}
.icon--instagram:before {
  content: "\ea92";
  color: var(--white);
}



:root{
    --primary: #768071;
    --secondary: #9C7B98;
    --tertiary: #4E1C50;
    --accent: #921044;
    --black: #000000;
    --white: #FFFFFF;
    --backgorund: #080808;
}

html {
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 400;
    background-color: var(--backgorund);
    min-height: 100vh;
    max-width: 100vw;
}
.header__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    align-items: flex-end;
    margin-bottom: 0;
}
.header__hamburger {
    display: block;
}
.hamburger__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.hamburger__button span {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    transition: 0.3s;
}
.header__nav 
{
    position: absolute;
    top: calc(6em);
    right: 0;
    background: var(--primary);
    width: 100%;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.3s ease, opacity 0.3s ease;
}
.header__nav.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary);
}
.header__nav--item {
    text-decoration: none;
    color: var(--white);
    font-size: 1em;
}
.header__logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.logo__accent {
    color: var(--accent);
}
.header__logo--name {
    font-size: 1.5em;
    margin: 0;
}
.header__logo--logo {
    text-align: center;
    margin: 0;
}
.button{
    text-decoration: none;
    background-color: var(--tertiary);
    color: var(--white);
    padding: 0.5em 1em;
    border-radius: 1em;
    margin: 0;
    display: block;
    max-width: fit-content;
}
.nav__actions {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    padding: 1em;
    margin: 0;
    align-items: flex-end;
}
.header__actions {
    display: none;
    gap: 0.75em;
}