@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?we1wwn');
  src:  url('../fonts/icomoon.eot?we1wwn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?we1wwn') format('truetype'),
    url('../fonts/icomoon.woff?we1wwn') format('woff'),
    url('../fonts/icomoon.svg?we1wwn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon--"], [class*=" icon--"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon--tiktok:before {
  content: "\e900";
  color: var(--white);
}
.icon--phone:before {
  content: "\e942";
  color: var(--white);
}
.icon--facebook:before {
  content: "\ea90";
  color: var(--white);
}
.icon--instagram:before {
  content: "\ea92";
  color: var(--white);
}
.icon--star-full:before {
  content: "\e9d9\e9d9\e9d9\e9d9\e9d9";
  color: gold;
}
.icon{
    display: none;
}


:root{
    --primary: #768071;
    --secondary: #9C7B98;
    --tertiary: #4E1C50;
    --accent: #921044;
    --black: #000000;
    --white: #FFFFFF;
    --backgorund: #080808;
}

html {
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: 400;
    background-color: var(--backgorund);
    min-height: 100vh;
    max-width: 100vw;
}
.img{
  max-width: 100%;
  height: auto;
  display: block;
}
.header__nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    align-items: flex-end;
    margin-bottom: 0;
}
.header__hamburger {
    display: block;
}
.hamburger__button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.hamburger__button span {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    transition: 0.3s;
}
.header__nav 
{
    position: absolute;
    top: calc(6em);
    right: 0;
    background: var(--primary);
    width: 100%;
    transform: translateY(-20px);
    opacity: 0;
    pointer-events: none;

    transition: transform 0.3s ease, opacity 0.3s ease;
}
.header__nav.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--primary);
}
.header__nav--item {
    text-decoration: none;
    color: var(--white);
    font-size: 1em;
}
.header__logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.logo__accent {
    color: var(--accent);
}
.header__logo--name {
    font-size: 1.5em;
    margin: 0;
}
.header__logo--logo {
    text-align: center;
    margin: 0;
}
.button{
    text-decoration: none;
    background-color: var(--tertiary);
    color: var(--white);
    padding: 0.5em 1em;
    border-radius: 1em;
    margin: 0;
    display: block;
    max-width: fit-content;
}
.nav__actions {
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    padding: 1em;
    margin: 0;
    align-items: flex-end;
}
.header__actions {
    display: none;
    gap: 0.75em;
}
.card {
    background-color: var(--primary);
    padding: 2em;
    border-radius: 1em;
    margin: 1em;
}
.card__home--image{
    overflow: hidden;
    padding: 0;
    border-radius: 1em;
    margin: 1em;
    background-color: var(--primary);
}
.accent{
    color: var(--accent);
}
.card__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
    max-width: 100%;
    gap: 1em;
    margin-top: 1em;
}
.card__secondary {
    background-color: var(--secondary);
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.card__home--secondary {
    background-color: var(--secondary);
    padding: 1em;
    border-radius: 1em;
    margin: 1em 2em 0 2em;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.margin__small{
    margin: .5rem 0;
}
.card__secondary--button {
    box-sizing: border-box;
    text-decoration: none;
    background-color: var(--tertiary);
    color: var(--white);
    margin: auto 0 0 0; /* tlačítko dolů */
    text-align: center;
    font-weight: 600;
    padding: 0.8rem 1rem;
    font-size: 1.25em;
    border-radius: 2rem;
    width: 100%;
}
.card__secondary--header{
    font-weight: 600;
    font-size: 1.5em;
    margin: 1rem 0;
}

.card__secondary--list{
    margin-top: 0;
    padding-left: 1.5rem;
}
.card__img--img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.card__secondary--sidenote{
    font-size: 0.75em;
}
.card__home--now{
    margin: 1rem 0 0 0;
    text-align: right;
}
.card__home--monitor{
    font-weight: 600;
    font-size: 1.5em;
    margin: 0 0 0 1rem;
    color: green;
}
.card__home--selection{
    background-color: var(--secondary);
    padding: 1em;
    border-radius: 1em;
    margin: 1em 2em 2em 2em;
}
.card__home--services{
    display: flex;
    justify-content: space-between;
}
.card__home--services p{
    margin: .5em 0;
}
.card__secondary--alert{
    text-align: center;
}
.card__header{
    font-size: 2em;
    font-weight: 600;
    margin: 1rem;
}
.card__secondary--solarium{
    overflow: hidden;
    padding: 0;
    border-radius: 1em;
    margin: 1em;
    background-color: var(--secondary);
}
.card__solarium--button{
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    background-color: var(--tertiary);
    color: var(--white);
    margin: auto auto 1rem auto; /* tlačítko dolů */
    text-align: center;
    font-weight: 400;
    padding: 0.8rem 1rem;
    font-size: 1.25em;
    border-radius: 2rem;
    width: calc(100% - 2em);
}
.card__solarium--header{
    font-weight: 600;
    font-size: 1.5em;
    margin: 1rem 1rem 0 1rem;
    text-align: center;
}
.card__solarium--description{
    margin: 0 1rem;
    font-size: 0.75em;
    text-align: center;
}
.card__solarium--list{
    margin: 1rem;
    padding-left: 1rem;
}
.card__solarium--price{
    font-weight: 600;
    font-size: 1.25em;
    margin: .5rem 1rem;
    text-align: center;
}
.gallery__image{
    margin: 1em 0;
    overflow: hidden;
    border-radius: 1em;
}
.card__secondary--review{
    display: flex;
    justify-content: space-between;
}
.card__review--name{
    font-weight: 600;
    font-size: 1.25em;
    margin: 1rem 0rem;
}
.card__review--link{
    text-decoration: none;
    color: var(--tertiary);
    font-style: italic;
}

.card__faq {
    background-color: var(--secondary);
    padding: 1em;
    border-radius: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.card__faq--summary {
    cursor: pointer;
    list-style: none;
    margin: 0;
    font-weight: 600;
}
.card__faq--details {
    margin-bottom: 0;
}

.card__faq--summary::-webkit-details-marker {
    display: none;
}

.card__faq[open] {
    background: var(--secondary);
}
.card__faq--summary::after {
    content: "❱";
    font-size: 1.2rem;
    transition: transform 0.25s ease;
    margin-left: .5rem;
    display: inline-block ;
}
.card__faq--summary:focus {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.card__faq[open] .card__faq--summary::after {
    transform: rotate(90deg);
}
.card__additions--header{
    font-weight: 600;
}
.card__map{
    width: 100%;
    min-height: calc(30em);
    border: none;
    border-radius: 1em;
    margin: 1em 0;
}
.footer{
    background-color: var(--primary);
    padding: 1em;
    text-align: center;
    margin-top: 2em;
    min-width: 100%;
}
.footer__logo--logo{
    margin: 0;
}
.footer__copyright{
    margin: 0;
}
.footer__links{
    margin: 1em 0;
}
.footer__links p{
    margin: 0;
}