@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2j8hvm');
  src:  url('fonts/icomoon.eot?2j8hvm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2j8hvm') format('truetype'),
    url('fonts/icomoon.woff?2j8hvm') format('woff'),
    url('fonts/icomoon.svg?2j8hvm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tiktok:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e942";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
